		* {
			margin: 0;
			padding: 0;
		}
		@font-face {
			font-family: "DS-Digital";
			src: url("../fonts/DS-DIGIB.TTF");
		}
		.point {
			float: right;
			position: relative;
			clear: both;
			font-family: "DS-Digital";
			margin-top: 3%;
			font-size: xx-large;
		}
		.level {
			float: right;
			position: relative;
			clear: both;
			font-family: "DS-Digital";
			font-size: xx-large;
		}
		.display-area {
			/* position: absolute; */
			/* float: left; */
			/* width: 60%; */
			position: absolute;
			/* float: left; */
			width: 60%;
			display: block;
		}
		.window-area {
			position: relative;
			width: 30%;
			float: right;
			top: 7%;
			clear: both;
			/* border: none; */
		}		
        table{
			border-collapse: collapse;
			border-spacing: 0;
			margin-left: 5%;
			margin-top: 5%;
        }
		/* tr { */
			/* height: 0px; */
		/* } */
        td {
			/* width: 8px; */
			/* height: 8px; */
			/* font-size: 40%; */
            padding: 0;
			cursor: default;
			/* width: 6%; */
			/* border: 0.1px solid #cdcdcd; */
        }
		.td-border {
			border: 0.1px solid #cdcdcd;
		}
		
		span:focus { 
			text-indent: -9999em; 
		}
	    span:focus {
			outline : none;
		}
		span:focus {
			outline: none;
			box-shadow: 0 0 1px 1px #4d90f0;
		}
		span:focus::-moz-placeholder {
			color: transparent;
		}
		span:focus::-webkit-input-placeholder {
			color: transparent;
		}
		
        canvas{
			display: block;
			/* font-size: 40%; */
			/* margin: 0 auto; */
			/* padding-left: 25%; */
			/* padding-bottom: 5%; */
        }
		#container {
			position: inherit;
			padding: 10px;
			margin: 10px;
			height: 94vh;
			border: 0.1px solid #cdcdcd;
			z-index: 1;
		}

		#notefication {
			position: fixed;
			top: 8.5em;
			padding-left: 13%;
			font-family: "DS-Digital";
			color: red;
			z-index: 2;
			font-size: xx-large;
		}
		h1 {
			margin: 0 auto;
			padding-bottom: 0px;
		}
		.button {
			background: #4CAF50; /* Цвет фона */
			/* border: 1px solid #7a7b7e; Параметры рамки */
			width: 40px; /* Ширина кнопки */
			height: 30px; /* Высота */
			border-radius: 50%;
			display: inline-block;
			border: none;
			text-decoration: none;
			border: none;
			color: white;
		}
		.button:hover {
			border: none;
			text-decoration: none;
			/* cursor: pointer; */
		}	
		.button:active {
			border: none;
			text-decoration: none;
			background: #F0E68C;
		}	
	    .button:focus {
			border: none;
			text-decoration: none;
		}	
		.pause {
			float: right;
			position: relative;
			clear: both;
			/* font-size: xxx-large; */
			top: 20%;
			width: 30%;
		}
		
		#comunication {
			position: relative;
			top: 14em;
			clear: both;
		}
		#left {
			position: relative;
			top: 1em;
		}
		.left {
			padding: 40px;	
		}
		.right {
			margin-left: 21%;
			padding: 40px;	
		}
		/* #down { */
			/* position: relative; */
			/* top: 1.5em;		 */
			/* margin-left:27px;			 */
		/* } */
		.down {
			position: relative;
			top: 2em;
			margin-left: 22%;
			padding: 40px;		
		}
		/* #rotate { */
			/* position: absolute; */
			/* top: 10%; */
		/* } */
		.rotate {
			position: absolute;
			top: 4em;
			padding: 60px;
			margin-left: 68%;
		}
		.stop {
			/* position: fixed; */
			/* top: 140px; */
			/* margin-left: 110px; */
			background: none;
			/* width: 47px; */
			/* height: 20px; */
			/* border-radius: 15%; */
			cursor: pointer;
			border: none;
			/* text-decoration: none; */
			color: black;
			font-size: xx-large;
			font-family: "DS-Digital";
		}
		.stop:active {
			border: none;
			text-decoration: none;
			background: none;
		}
		#watch {
			float: right;
			position: relative;
			clear: both;
			font-family: "DS-Digital";
			font-size: xx-large;
		}
		

.clean-label {
  background-color: gray;
  color: #29abe2;
  border: none;
  margin-left: 8px;
  text-decoration: none;
}

.clean-label:active {
  border: none;
  text-decoration: none;
  color: red;
}

.clean-label:hover {
  border: none;
  text-decoration: none;
}

.clean-label:focus {
  border: none;
  text-decoration: none;
}